@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.WeatherArea {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TempInfo {
    width: 90vw;
    height: 20vh;
    background: #eaff8f;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;

    margin-bottom: 20px;
    border-radius: 10px;
}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'GowunDodum-Regular';
}

.text span {
    font-weight: 900;
}

.Temp {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.Desc {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}


.WeatherInfo {
    width: 90vw;
    height: 20vh;
    background: #fcffe6;
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'GowunDodum-Regular';

}

.WeatherInfo div {
    padding: 2%;
    padding-left: 5%;
    font-size: 1.1rem;
    font-weight: 300;
}

/* @media ( min-width: 768px ) {
    .WeatherArea {
        _background-image: url(../images/spring.jpeg);
        align-items: flex-end;
        height: 50vh;
    }
    .TempInfo {
        width: 30vw;
        height: 10vh;
        margin-right: 10%;
        flex: inherit;
    }
    .WeatherInfo {
        margin-right: 10%;
        width: 30vw;
        height: 20vh;
        text-align: center;
        flex: inherit;
        padding-top: 2%;
    }

}
@media ( min-width: 1400px ) {} */